:root 
{
    --color11:#dddddd;
    --color12:white;
    --font_color11:black;
}
body 
{
    margin:0px;
    background-color:var(--color11);
    font-family:Arial, Helvetica, sans-serif;
    color:var(--font_color11);
}
h1 
{
    font-weight:600;
}